body {
	background-color: #2F3340;
	font-family: Arial;
}

#page-content {
	position: relative;
	min-height: 98vh;
	text-align: center;
	color: #D6E0FF;
}

#clockbox{
	font-size: 2vw;
	font-family: Arial;
	color: #BDCDFF;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 15%;
}

.top {
	position: absolute;
	top: 10vh;
}

.bottom {
	position: absolute;
	top: 50vh;
}

.left {
	position: absolute;
	left: 8vw;
}

.right {
	position: absolute;
	left: 85vw;
}

span {
	padding: 2px;
}

	span p {
		/*visibility: hidden;*/
	}

footer {
	font: 1vw Arial;
	color: #474D60;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2rem;
}

	footer a {
		color: #474D60;
	}