:root {
    --primary-color:rgb(255, 202, 251);
    --secondary-color: rgb(255, 164, 249);/*rgb(187, 164, 255);*/
    --tertiary-color: rgb(51, 23, 154);
    --accent-color: rgb(147, 212, 253);
    --background: rgb(255, 252, 216);
}

body {
    min-height: 100vh;
    background-image: linear-gradient(var(--background), var(--primary-color));
    font-family: Bahnschrift, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--secondary-color);
    margin: 0;
    padding: 0;

    /*Hides any horizontal overflow */
    /* width: 99.4vw; */
    /* overflow-x: hidden;   */
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-size: 72px;;
    font-style: bold;
    /* color: var(--tertiary-color); */
}

h3 {
    font-size: 55px;
    font-style: normal;
    /* color: var(--secondary-color); */
}

h4 {
    font-size: 36px;
    font-style: italic;
    /* color: var(--tertiary-color); */
}

h6 {
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: space-between;

    width: 100vw;
    margin: 5px 10px;
    padding: 0;

    font-size: 20px;
}

nav a {
    color: var(--secondary-color);
    text-decoration: none;
    margin-left: 15px;
}

section {
}
