:root {
    --primary-color:rgb(255, 202, 251);
    --secondary-color: rgb(255, 164, 249);/*rgb(187, 164, 255);*/
    --tertiary-color: rgb(51, 23, 154);
    --accent-color: rgb(147, 212, 253);
    --background: rgb(255, 252, 216);
}

body {
    min-height: 100vh;
    background-image: linear-gradient(var(--background), var(--primary-color));
    font-family: Bahnschrift, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--secondary-color);
    margin: 0;
    padding: 0;
}

em {
    font-weight: 700;
}

a {
    user-select: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-size: 72px;;
    font-style: bold;
    /* color: var(--tertiary-color); */
}

h3 {
    font-size: 55px;
    font-style: normal;
    /* color: var(--secondary-color); */
}

h4 {
    font-size: 36px;
    font-style: italic;
    /* color: var(--tertiary-color); */
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: space-between;

    margin: 20px 20px 0 20px;
    padding: 5px 10px;

    font-size: 20px;
}

nav a {
    color: var(--secondary-color);
    text-decoration: none;
    /* margin-left: 15px; */
}

#blog-container {
    display: flex;
    columns: 2;
    column-gap: 80px;
    margin: 20px
}

#sidebar {
    width: 15vw;
    text-wrap: wrap;
    position: sticky;
}

#sidebar h1 {
    text-shadow: -2px 2px 0 var(--accent-color);
}

#sidebar p {
    color: var(--accent-color);
    margin-top: 20px;
}

#blog-posts {
    display: auto;
}

.post {
    border: 5px solid black;
    background-color: var(--background);
    width: 50vw;
    /* padding: 20px; */
    margin-bottom: 30px;
}

.post .post-header {
    padding: 20px 20px 5px 20px;
    border-bottom: 2px solid black;
    margin-bottom: 15px;
    /*-webkit-text-stroke-width: 0.5px; /* Outline width */
    /*-webkit-text-stroke-color: var(--accent-color); /* Outline color */
}

.post .post-content {
    padding: 20px 5px 5px 20px;
    color: var(--tertiary-color);
}

.post .post-footer {
    text-align: right;
    padding: 10px 5px;
    background-color: var(--accent-color);
    margin-top: 20px;
    color: var(--tertiary-color);
}


@media screen and (max-width: 900px) {
    h1 {
        font-size: 48px;;
        font-style: bold;
        /* color: var(--tertiary-color); */
    }

    h3 {
        font-size: 36px;
        font-style: normal;
        /* color: var(--secondary-color); */
    }

    h4 {
        font-size: 24px;
        font-style: italic;
        /* color: var(--tertiary-color); */
    }

    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 16px;
    }

    /* nav {
        display: flex;
        justify-content: space-between;

        margin: 20px 20px 0 20px;
        padding: 5px 10px;

        font-size: 20px;
    }

    nav a {
        color: var(--secondary-color);
        text-decoration: none;
    } */

    #blog-container {
        display: flex;
        columns: 2;
        column-gap: 50px;
        margin: 20px
    }

    #sidebar {
        width: 10vw;
        text-wrap: wrap;
        position: sticky;
    }

    #sidebar h1 {
        text-shadow: -2px 2px 0 var(--accent-color);
    }

    #sidebar p {
        color: var(--accent-color);
        margin-top: 20px;
    }

    #blog-posts {
        display: auto;
    }

    .post {
        border: 5px solid black;
        background-color: var(--background);
        width: 50vw;
        min-width: 100px;
        /* padding: 20px; */
        margin-bottom: 30px;
    }

    .post .post-header {
        padding: 20px 20px 5px 20px;
        border-bottom: 2px solid black;
        margin-bottom: 15px;
        /*-webkit-text-stroke-width: 0.5px; /* Outline width */
        /*-webkit-text-stroke-color: var(--accent-color); /* Outline color */
    }

    .post .post-content {
        padding: 20px 5px 5px 20px;
        color: var(--tertiary-color);
    }

    .post .post-footer {
        text-align: right;
        padding: 10px 5px;
        background-color: var(--accent-color);
        margin-top: 20px;
        color: var(--tertiary-color);
    }

}
