:root {
    --primary-color:rgb(255, 202, 251);
    --secondary-color: rgb(255, 164, 249);/*rgb(187, 164, 255);*/
    --tertiary-color: rgb(51, 23, 154);
    --accent-color: rgb(147, 212, 253);
}

body {
    background-image: linear-gradient(var(--primary-color), var(--tertiary-color));
    font-family: Bahnschrift, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--tertiary-color);
    margin: 0;
    padding: 0;

    /*Hides any horizontal overflow */
    width: 99.4vw;
    overflow-x: hidden;  
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-size: 72px;;
    font-style: bold;
    color: var(--tertiary-color);
}

h3 {
    font-size: 55px;
    font-style: normal;
    color: var(--secondary-color);
}

h4 {
    font-size: 36px;
    font-style: italic;
    color: var(--tertiary-color);
}

h6 {
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: space-between;


    width: 100vw;
    margin: 5px 10px;
    padding: 0;

    font-size: 20px;
}

#logo {
    height: 50px;
    width: 50px;
    background-color: var(--accent-color);
}

nav a {
    text-decoration: none;
    margin-left: 15px;
}

section {
    /* height: 60vh; */
}

section#hero {
    padding: 0;
    height: 60vh;
}

#herocontainer {
    margin: 500px 0 0 80px;
    display: flex;
    column-gap: 20px;
    justify-content: center;
}

#herogif {
    margin-top: -100px;
}

section#portfolio {
    background-color: rgba(0,0,0,0.5);
    padding-bottom: 20px;
}

.h3 {
    position: relative;
    /* top: -24px; */
    top: 10px;
    padding-bottom: 30px;
    left: 20px;
}

#gallery {
    margin-right: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
    /*max 4 elements per row: element-width * 4 + (gap * 3) */
    /*max-width: 1630px; */
}

#gallery img {
    border-style: solid;
    border-width: 15px 5px 5px 5px;
    border-radius: 5px;
    border-color: rgba(0,0,0,0.4);

    /* background-color: var(--accent-color); */
    height: 300px;
    width: 400px;
    object-fit: cover;
}

.project {
    margin: 0 10px;
    /* background-color: var(--accent-color); */
    display: block;
    color: white;
    padding: 5px;
}

.project h6 {
    padding-left: 5px;
    padding-bottom: 5px;
}

.description {
    padding-left: 10px;
}

.techlist {
    color: var(--accent-color);
    padding-left: 10px;
}

section#contact {
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

section#contact h3 {
    padding-bottom: 20px;
}

#contactcontainer {
    border-radius: 5px;
    color: var(--secondary-color);
    font-size: 24px;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    background-color: var(--primary-color);
    font-size: large;
    margin-bottom: 10px;
}

input[type=submit] {
    background-color: var(--accent-color);
    color: var(--tertiary-color);
    font-weight: bold;
    font-size: large;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    color: var(--accent-color);
    margin-top: 20px;
}