:root {
    --primary-color:rgb(255, 202, 251);
    --secondary-color: rgb(255, 164, 249);/*rgb(187, 164, 255);*/
    --tertiary-color: rgb(51, 23, 154);
    --accent-color: rgb(147, 212, 253);
}

body {
    /* background-color: var(--primary-color); */
    background-image: linear-gradient(rgb(255, 202, 251), rgb(51, 23, 154));
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--tertiary-color);
}

h1 {
    font-size: 72px;;
    font-style: bold;
    color: var(--tertiary-color);
}

h3 {
    font-size: 48px;
    font-style: normal;
    color: var(--secondary-color);
}

h4 {
    font-style: italic;
    color: var(--tertiary-color);
}

#logo {
    height: 50px;
    width: 50px;
    background-color: var(--accent-color);
}

#leftnav {
    float: left;
}

#rightnav {
    float: right;
}

section {
    padding: 15px;
}

section#hero {
    height: 100vh;
    padding: 0;
}

section#portfolio {
    background-color: rgba(0,0,0,0.5);
}

#gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gallery img {
    background-color: rgb(255,255,255);
    height: 400px;
    width: 300px;
    margin: 0 10px;
}